<h1>Editing Appointment</h1>

<%= render 'form', appointment: @appointment, editing: true, add_date_time_field: !Appointment.find(@appointment.id).finished? %>

<%= link_to 'Show', @appointment %> |
<%= link_to 'Back', appointments_path %>
