<h1><%= t("new") %> <%= t("activerecord.models.appointment") %></h1>

<%= render 'form', appointment: @appointment, editing: false, add_date_time_field: true, url: route(appointments_path) %>

<%= generate_back_button %>