<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Polycon</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="<%= professionals_path %>">Professionals</a></li>
      <li><a href="<%= appointments_path %>">Appointments</a></li>
      <li><a href="<%= appointments_exporter_index_path %>">Export appointments</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>